@{
    Layout = "~/Views/Shared/_CollectionLayout.cshtml";
}

<style>
    main h1
    {
        text-align : center;
        margin : 100px 0;
    }
    .box-container
    {
        display : flex;
        justify-content : center;
    }
    .jacket-collection-box
    {
        width : 100%;
        display : grid;
        grid-template-columns : repeat(auto-fit , minmax(200px,1fr) );
        justify-content : center;
        gap : 60px;
        margin : 0 100px 50px 100px;
    }

    .jacket-collection-boxes img
    {
        object-fit : cover;
        width : 100%;
    }

    .jacket-collection-boxes p
    {
        text-align : center;
        margin : 10px 0;
    }

    .jacket-collection-boxes h4
    {
        text-align : center;
        margin : 10px 0;
    }

    .jacket-collection-boxes
    {
        transition : scale 0.3s ease;
    }

    .jacket-collection-boxes:hover
    {
        scale : 1.05;
    }
</style>


<main>
    <h1> Jacket Collection </h1>


    <!-- ---------------------------- SAP XEP THEO MOT CHINHR SAU --------------------------------- -->

    <div class="box-container">
        <section class="jacket-collection-box">
            <div class="jacket-collection-boxes box-1">
                <img src="https://pos.nvncdn.com/f4d87e-8901/ps/20240917_6h6t4BN3a9.jpeg" />
                <p> Áo Sơ Mi Dài Regular L.2.4457 </p>
                <h4> 199,000 <sup> đ </sup> </h4>
            </div>

            <div class="jacket-collection-boxes box-2">
                <img src="https://pos.nvncdn.com/f4d87e-8901/ps/20240917_6h6t4BN3a9.jpeg" />
                <p> Áo Sơ Mi Dài Regular L.2.4457 </p>
                <h4> 199,000 <sup> đ </sup> </h4>
            </div>

            <div class="jacket-collection-boxes box-3">
                <img src="https://pos.nvncdn.com/f4d87e-8901/ps/20240917_6h6t4BN3a9.jpeg" />
                <p> Áo Sơ Mi Dài Regular L.2.4457 </p>
                <h4> 199,000 <sup> đ </sup> </h4>
            </div>

            <div class="jacket-collection-boxes box-4">
                <img src="https://pos.nvncdn.com/f4d87e-8901/ps/20240917_6h6t4BN3a9.jpeg" />
                <p> Áo Sơ Mi Dài Regular L.2.4457 </p>
                <h4> 199,000 <sup> đ </sup> </h4>
            </div>
        </section>
    </div>

    <script>
        // boxes img link
        const imglink = document.querySelector('.jacket-collection-boxes');
        imglink.onclick = fucion()
        {
            window.location.href = '';
        }
    </script>
</main>
