@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    body
    {
        
    }

    main
    {
        height : 100vh;
    }


</style>
 

<body>

    <script language="JavaScript">

        var ten, tuoi;

        ten = prompt(' Hãy Nhập tên của bạn : "," ');
        tuoi = prompt(' Hay nhap tuoi ');

        window.document.write('Hello <b> ' + ten + '</b> <br />');
        window.document.write(' tuoi cua ban ' + tuoi);

    </script>
    <main>

    </main>
</body>